.ea-grid-checkmark {
  background-image: url(../images/bullet_tick.png) !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.ea-grid-checkbox div {
  background-color: transparent;
  background-image: url(../images/unchecked.gif);
  background-position: center center;
  background-repeat: no-repeat;
  height: 14px;
}
.ea-grid-checkbox-checked div {
  background-image: url(../images/checked.gif);
}
.ea-grid-error {
  background-image: url(../images/decline.png) !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.ea-grid-warning {
  background-image: url(../images/error.png) !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.ea-grid-alert {
  background-image: url(../images/exclamation.png) !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.ea-grid-ok {
  background-image: url(../images/tick.png) !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
