.ea-icon-preview {
  background-image: url(../images/page_magnify.png) !important;
}
.ea-icon-edit {
  background-image: url(../images/pencil.png) !important;
}
.ea-icon-delete {
  background-image: url(../images/delete.png) !important;
}
.ea-icon-update-options {
  background-image: url(../images/pencil_go.png) !important;
}
.ea-icon-ok, .ea-icon-save {
  background-image: url(../images/tick.png) !important;
}
.ea-icon-reset, .ea-icon-cancel {
  background-image: url(../images/cross.png) !important;
}
.ea-icon-up {
  background-image: url(../images/arrow_up.png) !important;
}
.ea-icon-down {
  background-image: url(../images/arrow_down.png) !important;
}
.ea-icon-configure {
  background-image: url(../images/wrench.png) !important;
}
.ea-icon-settings {
  background-image: url(../images/wrench_orange.png) !important;
}
.ea-icon-feed {
  background-image: url(../images/feed.png) !important;
}
.ea-icon-admin_content {
  background-image: url(../images/page_gear.png) !important;
}
.ea-icon-admin_build {
  background-image: url(../images/cog.png) !important;
}
.ea-icon-system_settings_overview {
  background-image: url(../images/wrench.png) !important;
}
.ea-icon-admin_user {
  background-image: url(../images/group.png) !important;
}
.ea-icon-admin_reports {
  background-image: url(../images/report.png) !important;
}
.ea-icon-user {
  background-image: url(../images/user.png) !important;
}
