#loading-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background-color: #fff;
}
#loading {
    position: absolute;
    left: 50%;
    top: 45%;
    z-index: 20001;
    height: auto;
    width: 320px;
    margin-left: -160px;
}
#loading .loading-indicator {
    background: url(../images/blue-loading.gif) no-repeat 0 0;
    color: #555;
    font: bold 13px tahoma,arial,helvetica;
    padding: 10 10 10 42px;
    margin: 0;
    height: auto;
}
