.ea-header {
	background-image: url(../images/small_logo.png);
	background-repeat: no-repeat;
	background-position: 5 5;
	padding: 15px 5px 0 192px;
}
.ea-header .x-toolbar {
	background: none;
	border: none;
}
.x-nlg .ea-header .x-toolbar-default {
	background: none !important;
}
.ea-user_login.x-panel-default-framed {
	padding: 0 0 4px 0;
}
.ea-user_login .x-panel-body {
	padding: 80px 10px 10px 10px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
}
.x-fieldset-body {
	padding: 10px 0 10px 0;
}
.x-ie .x-fieldset-body {
	padding: 10px 0 0 0;
}
.x-ie.ux-layout-center {
	text-align: center;
}
.x-ie.ux-layout-center div {
	text-align: left;
}
